:root {
    --bg-color-header: #1E1E1E; 
    --accent-color: #C4EF67;
    --font-family-sister: "Love Ya Like A Sister", cursive;
    --font-family-kranky:  "Kranky", serif;
    --body-bg-color: #E4E6C4;
}

* {
    box-sizing: border-box;
}

.checkout-layout {
    margin: 0.5em;
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr;
    
}
.checkout-layout h4,  .checkout-layout h1{
    font-family: var(--font-family-sister);
}


.checkout-layout h1, .checkout-layout p {
    place-self: center;
}
.checkout-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0.5em;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 10px 2px #606152;
    border-radius: 10px;
    padding: 0.5em;
    width: 17em;
    place-self: center;
    
}
.checkout-card > *{
    margin: 0;
}
.checkout-card p, .checkout-total-section p  {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.checkout-img {
    width: 101px;
    height: 100px;
    object-fit: contain;
    grid-row: span 3;
}
.change-units {
    display: grid;
    grid-template-columns:  5em;
    grid-column: 2;
    grid-row: 4;
    justify-self: center;
}
.units {
    margin: 0;
}
.units-icons {
    background-color: #C4EF67;
    margin: 0 0 1em 0;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid black;
    height: 2.1em;
}
.units-icons p {
    margin: 0.2em 1em 0.3em 1em;
}
.remove-btn {
    grid-column: 1;
    background-color: var(--bg-color-header);
    color: var(--accent-color);
    font-family: var(--font-family-sister);
    padding: 0.3em 0.5em 0.3em 0.5em;
    border-radius: 10px;
    margin-top: 0.8em;
    margin-left: 1em;
    
    width: 5em;
    align-self: center;
    text-align: center;
    height: 2.1em;
    border: 2px solid var(--accent-color);
}
.arrow-icon {
    height: 20px;
    margin: 1em 0 0 1.2em;
}
.checkout-total-section {
    place-self: center;
    display: flex;
    flex-direction: column;
}
.checkout-buy-btn {
    background-color: var(--accent-color);
    font-family: var(--font-family-sister);
    padding: 0.5em;
    border-radius: 10px;
    max-width: 7em;
    place-self: center;
}
.checkout-buy-btn:hover {
    box-shadow: 0px 2px 10px 2px #606152;
    cursor: pointer;
}
@media (min-width: 610px) {
    .checkout-layout {
        grid-template-columns: repeat(2, 1fr);
        margin: 2em;
        
    } 
    .checkout-h1 {
        grid-column: span 2;
    }
    .checkout-total-section {
        grid-column: span 2;
    }
    
}
/* @media (min-width: 700px) {

} */