:root {
    --bg-color-header: #1E1E1E; 
    --accent-color: #C4EF67;
    --font-family-sister: "Love Ya Like A Sister", cursive;
    --font-family-kranky:  "Kranky", serif;
    --body-bg-color: #E4E6C4;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--body-bg-color);
}

.header {
    background-color: var(--bg-color-header);
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-family: var(--font-family-sister);
    color: var(--accent-color);
    padding: 1em;
}
.RollingSummer-placement {
    margin-top: 0.6em;
    /* visibility: hidden; */
}
.logo-name {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 1.3em;
}
.logo {
    width: 60px;
    height: auto;
    margin: 0;
    
}
.cart-icon-navlink{
    place-self: end;
    align-self: center;
}
.cart-icon {
    width: 30px;
}
.footer {
    background-color: var(--bg-color-header);
    padding: 1em;
    margin-top: 1em;
}
.login-icon {
    width: 35px;
}